<h1>Listing environments</h1>

<table>
  <tr>
    <th>User agent</th>
    <th>Platform</th>
    <th>Device name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @environments.each do |environment| %>
  <tr>
    <td><%= environment.user_agent %></td>
    <td><%= environment.platform %></td>
    <td><%= environment.device_name %></td>
    <td><%= link_to 'Show', environment %></td>
    <td><%= link_to 'Edit', edit_environment_path(environment) %></td>
    <td><%= link_to 'Destroy', environment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Environment', new_environment_path %>
