<h1>Listing timelines</h1>

<table>
  <tr>
    <th>Dump file</th>
    <th>Test name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @timelines.each do |timeline| %>
  <tr>
    <td><%= timeline.dump_file %></td>
    <td><%= timeline.test_name %></td>
    <td><%= link_to 'Show', timeline %></td>
    <td><%= link_to 'Edit', edit_timeline_path(timeline) %></td>
    <td><%= link_to 'Destroy', timeline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Timeline', new_timeline_path %>
