<p id="notice"><%= notice %></p>

<p>
  <b>Dump file:</b>
  <%= @timeline.dump_file %>
</p>

<p>
  <b>Test name:</b>
  <%= @timeline.test_name %>
</p>


<%= link_to 'Edit', edit_timeline_path(@timeline) %> |
<%= link_to 'Back', timelines_path %>
