<h1><%= @device_data.first.device_name %></h1>

<script type="text/javascript">

  $(function () {
    //rendering customized timeline data (json_digest)

    //Highcharts code
    $("#chart").highcharts({
      chart: {
        type: 'bar'
      },
      title: {
        text: "<%= @device_data.first.device_name %>"
      },
      subtitle: {
        text: 'Page rendering times across different operations'
      },
      xAxis: {
        categories: [
          <% tests_arr_clone = @device_data.clone %>
          '<%= tests_arr_clone.pop.test_name.html_safe %>'
          <% tests_arr_clone.reverse.each do |device_item| %>
          , '<%= device_item.test_name.html_safe %>'
          <% end %>
        ],
        title: {
          text: null
        }
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Time (milli-seconds)',
          align: 'high'
        },
        labels: {
          overflow: 'justify'
        }
      },
      tooltip: {
        valueSuffix: ' milli-seconds'
      },
      plotOptions: {
        bar: {
          dataLabels: {
            enabled: true
          }
        }
      },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -30,
        y: 300,
        floating: true,
        borderWidth: 1,
        backgroundColor: '#FFFFFF',
        shadow: true
      },
      credits: {
        enabled: false
      },
      series: [{
        name: 'Average page rendering time',
        data: [
          <% data = JSON.parse(@device_data.pop.json_digest) %>
          (Math.round(1000 * <%= data['performanceMetrics']['calculateStylesMetrics']['averageCalcStylesTime'] +
                                 data['performanceMetrics']['layoutMetrics']['averageLayoutTime'] +
                                 data['performanceMetrics']['renderingMetrics']['averageFrameRenderingTime'] %>)) / 1000
          <% @device_data.reverse.each do |device_item| %>
          <% data = JSON.parse(device_item.json_digest) %>
          , (Math.round(1000 * <%= data['performanceMetrics']['calculateStylesMetrics']['averageCalcStylesTime'] +
                                   data['performanceMetrics']['layoutMetrics']['averageLayoutTime'] +
                                   data['performanceMetrics']['renderingMetrics']['averageFrameRenderingTime'] %>)) / 1000
          <% end %>
        ]
      }]
    });
  });


</script>

<div id="chart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
